.container{
    position: relative;
    --lat: 120;
    --long: 200;
}

.truck{
     padding-left: calc(10px * var(--lat));
    padding-top: calc( 1px * var(--long));
}

.waypoint{
    width: 2vw;
    height: 2vw;
}