.container{
    position: absolute;
    --lat: 120;
    --long: 200;
}

.truck{
    padding-left: calc(42px + 6px * var(--long));
    padding-top: calc(35px + 6px * var(--lat));
}

.waypoint{
    width: 20px;
    height: 20px;
}

.license{
    background-color: rgb(207, 238, 182);
    border-radius: 100px; 
    border: 1px #CCF solid;
    padding: 3px 5px;
    display: inline;
    margin: 0px;
}